/* Re-use from index.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    cursor:pointer;
    text-decoration: none;
    background-color: transparent;
}
h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #232121;
}


/* HEADER */
header .container{
    position: relative;
}


header .header_content{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 12px;
    padding-right: 12px;
}

    /* Header left */

        /* logo */
    header .header_content .header_item a.logo{
        margin: 0;
        padding: 0;
        font-size: 36px;
        font-weight: 700;
        color: #fff;
    }
        /* Nav */
    header .header_content .header_item ul{
        margin-top:16px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
    }

    header .header_content .header_item ul li a{
        color: white;
        transition : all 0.5s;
    }

    header .header_content .header_item ul li a:hover{
      color: #ffc800;
      font-weight: 600;
    }

    header .header_content .header_item ul li.active a{
        color: #ffc800;
      }


    /* Header right */
    header .header_content .header_right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    }

        /* Search-bar */
        header .header_content .header_item .search-bar{
            display: flex;
            margin: 0 auto;
        }
        header .header_content .header_item .search-bar input{
            display: flex;
            padding: 10px 50px 10px 20px;
            height: 45px;
            font-size: 16px;
            color: rgba(22, 28, 45, 0.7);
            border: none;
            font-weight: 400;
            border-radius: 6px;
            right: 0;
            background-color: white;
            border: 1px solid white;
        }
        header .header_content .header_item .search-bar .search-icon{     
            color: #404040;  
            position: absolute;
            right: 20px;
            font-size: 15px;
            top: 15px;
            cursor: pointer;
        }

/* BANNER */

.banner{
    background-size: cover;
    background-image: linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)), url(../img/Service_banner_1.jpeg);
    /* background-repeat: no-repeat, no-repeat, no-repeat; */
    background-position: center;
    /* background-attachment: fixed; */
    min-height: 350px;
}

.banner nav a, span{
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 1.5;
}

.banner nav a.active{
    color:#ff6600
}


/* WHAT WE OFFER */ /*Re-use class about from index.css*/
.about .about_content h3{
    padding-right: 3rem;
}
.about .about_content p{
    color: rgba(22, 28, 45, 0.7);
    font-size: 18px;
    line-height: 28px;
    padding-left: 3rem;

}

/* SERVICE */ /*Re-use service from index.html*/

.service .service_content .service_item{
    padding-right: 15px;
    padding-left: 15px;
}

.service .service_content .service_item .item_inner{
    padding: 40px;
    border: 1px solid #EEB;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);

}

.service .service_content .service_item .item_inner i{
width: 70px;
height:70px;
line-height: 70px;
border-radius: 6px;
background-color: rgba(130, 115, 252, 0.05);
color: #ff6600;
font-size: 25px;
margin-right: 30px;
transition: all 0.5s;
}

.service .service_content .service_item .item_inner:hover i{
    background-color:#ff6600;
    color: white;
}

.service .service_content .service_item .item_inner p{
    font-size: 18px;
    margin-bottom: 4px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}
.service .service_content .service_item .item_inner h4 a{
    text-decoration: none;
font-size: 24px;
font-weight: 600;
/* margin-top: 5px; */
margin-bottom: 0px;
display: block;
color: #232121;
}

/* MORE INFO */ /*Re-use more-info from index.html*/

.more-info{
    background-image: url(../img/Home_more-info_1.jpeg);
    position: relative;
    z-index: 1;
    text-align: center;
}

.more-info::before{
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.more-info .more-info_content h2{
    display:inline-block;
    width: 100%;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
}

.more-info .info_button a{
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
    transition : all 0.5s;
    border-radius: 5px;
    margin-right:1.5rem;
    transition: all 0.5;
}

.more-info .info_button a:first-child:hover{
    background-color:white;
    border: 2px solid #fff;
    color: #ff6600;
}

.more-info .info_button a:last-child{
    background-color:#ff6600;
    border: 2px solid transparent;
    color: white;
}

.more-info .info_button a:last-child:hover{
    opacity:0.8;
}


/* MENU */

.menu .menu_content{
    display: flex;
    gap: 60px;
}


.border-dot{
    border-bottom: 2px dotted #bbb;
}
.menu .menu_content p.food-name{
    font-size: 20px;
    font-weight: 600;
    color: #232121;
    margin-bottom: 10px;
}

.menu .menu_content p.price{
    font-weight: 600;
    font-size: 1.3em;
    color: #ff6600;
    margin-bottom: 10px;
}

.menu .menu_content p.food-description{
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    margin-top: 10px;
}




/* FOOTER */
footer {
    background-color: black;
}

/* Footer Top */
footer .footer_top .top_content p{
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
    transition : all 0.5s;
}

/* Footer Grids Item 1 */

footer .footer_top .top_content .navbar-brand{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    padding: 0;
}

footer .footer_top .top_content .navbar-brand:hover{
    color: #ff6600;
}

footer .footer_top .top_content .social-icon a{
    margin-right: 10px;
    color: #ff6600;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background-color: white;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: 0.3s;
}
footer .footer_top .top_content .social-icon a:hover{
    color: white;
    background-color: #ff6600;
}


/* Footer grids Item Title */

footer .footer_top .top_content h5{
font-size: 22px;
line-height: 28px;
margin-bottom: 30px;
font-weight: 700;
/* position: relative; */
color: #fff;
margin-bottom: 30px;
}

/* Footer Item 4 - Form */
footer .footer_top .top_content form button{
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
    border: 2px solid transparent;
    background-color: #ff6600;
    color: white;
}
footer .footer_top .top_content form button:hover{
    background-color: #ff6600;
    color: white;
    opacity: 0.8;
}

footer .footer_top .top_content form input{
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgba(22, 28, 45, 0.7);
    background-color: white;
    border-radius: 6px;
}

footer .footer_top .top_content .footer_item a:hover p{
    color: #ff6600;
}


/* Footer_bottom copyright */
.footer_bottom{
    padding: 1.2em 0;
    border-top: 1px solid rgb(255 255 255 / 5%);
}
footer .footer_bottom p.copy-right{
    color: #ddd;
    font-size: 17px;
}

footer .footer_bottom a{
    color: #ff6600;
    transition : all 0.5s;
}

.footer_bottom a:hover{
    color: white;
}

.back-to-top {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #ff6600;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    box-shadow: -4px 4px 24px -10px #ff6600;
}

.back-to-top:hover{
    color: white;
}